@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
}

.box{
    position: absolute;
    min-width:320px ;
    max-width:800px ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.703);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    color: white;
}

fieldset{
    border: 3px solid dodgerblue;
}
legend{
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
}

.inputBox{
    position: relative;
}

.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color:white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;/* Aumenta o espaçamento entre as letras do output */
    outline: none;
}


.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none; /* qualquer lugar clicado acarretará na ação */
    transition: .5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{/* Não funciona pra type='email' */
    top: -20px;
    font-size: 13px;
    color: dodgerblue;
}

#dateNasc input{
    padding: 8px;
    border-radius: 10px;
    font-size: 15px;
}

#submit{
    background-image: linear-gradient(to right, rgb(20, 147, 220) 70%, rgb(17, 54, 71));
    width: 100%;
    padding: 15px;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover{
    background-image: linear-gradient(to right, rgb(0, 80, 172) 70%, rgb(80, 19, 195));
    transform: scale(1.02);
    transition: .4s;
}

