@charset "UTF-8";


@media (min-width:600px){

    
    #blocologin{
        height: 90%;
        width: 550px;
        display: block;
    }

    .logologin img{
        width: 180px;
    }

    .titulologin{
        font-size: 2.7em;
    }

    

    .inputBox label{
        font-size: 1.5em;
    }
    
    .inputBox input{
        height: 45px;
        width: 100%;    
        border-radius: 5px;

        height: 50px;
        box-sizing: border-box;
        font-size: 1.3em;
        padding-left: 20px;
    }

    /* .inputBox input{
        height: 50px;
        box-sizing: border-box;
        font-size: 1.3em;
        padding-left: 20px;
    } */

    input::placeholder{
        font-size: .8em;
        font-weight: 550px;
    }

    .botoesLogin input{
        font-size: 2em;
    }
    .cadastrar{
        padding: 20px;
    }

    .esqueciSenha{
        padding: 20px;
    }

    .loginFooter p, .msgAdm > h2{
        font-size: 1.2em;
    }

}

@media (min-width: 884px){

    #blocologin{
        height: 90%;
        width: 550px;
        display: block;
    }

    .logologin img{
        width: 180px;
    }

    .titulologin{
        font-size: 2.7em;
    }

    .inputBox label{
        font-size: 1.5em;
    }
    
    .inputBox input{
        height: 45px;
        width: 100%;    
        border-radius: 5px;
    }

    .inputBox input{
        height: 50px;
        box-sizing: border-box;
        font-size: 1.3em;
        padding-left: 20px;
    }

    input::placeholder{
        font-size: .8em;
        font-weight: 550;
    }

    .botoesLogin input{
        font-size: 2em;
    }
    .cadastrar{
        padding: 20px;
    }

    .esqueciSenha{
        padding: 20px;
    }

    .loginFooter p{
        font-size: 1.2em;
    }
}

@media (min-width: 1200px){

    #blocologin{
        height: 90%;
        width: 650px;
        display: block;
    }

    .logologin img{
        width: 200px;
    }

    .titulologin{
        font-size: 2.1em;
    }

    .inputBox label{
        font-size: 1.2em;
    }

    .inputBox input{
        height: 40px;
        width: 100%;    
        border-radius: 5px;
        font-size: 1em;
        padding-left: 10px;
    }

    input::placeholder{
        
        font-size: .8em;
        font-weight: 550px;
    }

    .botoesLogin input{
        font-size: 1.7em;
        margin-bottom: 15px;
        padding: 7px;
    }

    .msgAdm > h2{
        font-weight: bold;
        font-size: 1.2em;
        padding: 30px;

    }
    .loginFooter p{
        font-size: 1em;
    }
}